*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700;800&display=swap');

body{
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar section start style from here */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1efef;
    width: 100%;
    height: 70px;
}
.nav-logo-name{
    font-size:25px;
    font-weight: 700;
    
}
.nav-logo-side img{
    width: 35px;
}
.nav-menu-side{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu-side a{
    text-decoration: none;
    font-size: 15px;
}
.nav-menu-side button{
    background-color: lightgray;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    
}
button:hover{
    cursor:pointer;
}
.nav-menu-side .fa-youtube{
    color: red;
    margin-left:5px;
}
.nav-menu-side .fa-tiktok{
    margin-left:5px;
}

/* nav section ends */
/* Banner section style start from here */
    .banner-container{
        background-color: #FFF;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 100px; */
    }
    .banner-container img{
        width: 100%;
       
    }
.left-side-banner{
    width: 50%;
    
    
}
.banner-text-side{
    margin-left: 180px;
}
.right-side-banner{
    width: 50%;
    
}
.banner-img-div{
    /* width: 50%; */
}
.left-side-banner h3{
    font-size: 30px;
    color: #0B0223;
}
.left-side-banner h1{
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.left-side-banner p{
    margin-top: 10px;
}
.left-side-banner .btn{
    margin-top: 30px;
}
.left-side-banner .btn button{
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    color: #FFF;
}
.left-side-banner .banner-btn-1{
    background-color:#F948B2;
}
.left-side-banner .banner-btn-2{
    background-color:aqua;
}
/* Banner ends */
/* Main Online funny games section  start */
.online-games-container{
    max-width: 1000px;
    width: 80%;
    margin:20px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.funny-color-text{
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-text h3{
    font-size: 25px;
    font-weight: 800;
}
.online-text p{
    color: #534C64;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}
/* online cards box style from here */
.online-cards img{
    width: 90%;
}
.online-cards img:hover{
    cursor: pointer;
    width: 100%;
}
.online-cards{
    max-width: 1000px;
    width: 80%;
    margin:20px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.games-card p{
    color: #534C64;
    font-size: 15px;
    padding-top: 20px;
}

/* play-instanly-container style start from here */
.play-instanly-container{
    width: 80%;
    height: 600px;
    margin: 20px auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-instanly-left-side{
    /* border: 2px solid red; */
    width: 50%;
    height: 400px;
}
.play-instant-text h3{
    display: flex;
    justify-content:center;
    text-align-last: right;
    /* align-items: center; */
    font-size: 25px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: -30px;
}
.color-text{
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content:center;
    /* text-align-last: right; */
    margin-top: 80px;
    
}
.play-instant-text p{
    display: flex;
    width: 353px;
    /* font-size: 10px; */
    justify-content:center;
    /* text-align-last: right; */
    margin-top: 40px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 15px;
    margin-left: 70px;
}



.play-instanly-right-side{
    /* border: 2px solid red; */
    width: 50%;
    height: 400px;
    /* display: flex; */
}
.play-instanly-right-side img{
    width: 70%;
    margin-left: 150px ;
    /* display: none; */
    /* border: 2px solid blue; */
    /* position: relative; */
}

.small-img-div .small-img{
    width: 15%;
    position: absolute;
    /* margin-bottom: -200px; */
    margin-top: -170px;
    margin-left: 60px;
    
    
}